body {
  background-color: rgb(54, 54, 54);
  color: aliceblue;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  background-color: rgb(23, 107, 79);
}

.deck {
  margin-top: 30px;
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

form {
  background-color: white;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  border: solid 5px white;
  /* border-radius: 5px; */
  width: 40%;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  border: solid 5px rgb(54, 54, 211);
  border-radius: 18px;
  background-color: black;
  width: 220px;
  height: 350px;
  /* border-radius: 5px; */
  justify-content: space-evenly;
  align-items: center;
}

.card * {
  margin: 0;
}

.card img {
  width: 200px;
  border-radius: 18px;
}

.attrs-div {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
}

.attr1 {
  background-color: red;
  border-radius: 15px;
  border: 3px solid red;
}

.attr2 {
  background-color: green;
  border-radius: 15px;
  border: 3px solid green;
}

.attr3 {
  background-color: blue;
  border-radius: 15px;
  border: 3px solid blue;
}

label {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  /* border: solid 5px red; */
  /* border-radius: 5px; */
  justify-content: space-around;
}

.largeInput {
  width: 300px;
}

.smallInput {
  width: 210px;
}

textarea {
  width: 300px;
  height: 90px;
  min-width: 300px;
  min-height: 90px;
  max-width: 300px;
  max-height: 90px;
}

button {
  width: 60px;
  height: 40px;
  border-radius: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
